
label {
	width : 15%;
	float : left;
	margin-top :5px;
	margin-left : 5px;
}

.validation{
	text-align : center;
}

fieldset {

	width :100%;
}

legend {
	margin-top :5px;
	margin-left : 5px;
	width : 15%;
	font-size: 20;
	font-style: bold;
}
